@und-css-tokens;
@und-css-layouts;

body {
  font-size: var(--font-0);
  @media (--sm) {
    color: red;
  }
  @media (--lg) {
    color: blue;
  }
}

@media (--sm) {
  h1 {
    font-size: var(--font-4);
    &:hover {
      color: green;
    }
  }
}

@und-css-utilities;
